@import "../../app.scss";

.contact {
  height: 100vh;
  scroll-snap-align: center;
  max-width: 1366px;
  margin: auto;

  .title {
    text-align: center;
    font-size: 5rem;
    line-height: 80px;
    color: orange;
    padding-top: 50px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .textContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include mobile {
        padding: 15px;
      }

      h1 {
        font-size: 5rem;
        line-height: 80px;
      }

      span {
        color: green;
      }

      .socialMedia {
        display: flex;
        justify-content: start;
        gap: 20px;
        margin-top: 20px;
        width: 100%;

        @include tablet {
          justify-content: center;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px; /* Size of the icon */
          height: 60px; /* Size of the icon */
          border-radius: 50%; /* Circular shape */
          background-color: #f0f0f0; /* Background color */
          color: #333; /* Icon color */
          text-decoration: none; /* Remove underline */
          font-size: 24px; /* Font size for the icons */
          transition: transform 0.3s; /* Smooth transition for hover effect */

          &:hover {
            transform: scale(1.3); /* Scale up on hover */
          }

          &.facebook {
            background-color: #3b5998; /* Facebook color */
            color: white;
          }

          &.twitter {
            background-color: #1da1f2; /* Twitter color */
            color: white;
          }

          &.instagram {
            background-color: #e1306c; /* Instagram color */
            color: white;
          }

          &.email {
            background-color: #4caf50; /* Email color */
            color: white;
          }
        }
      }
    }
    .svgContainer {
      flex: 1;

      .phoneSVG {
        stroke: orange;
        position: relative;
        margin: auto;
        z-index: 0;
      }

      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
  }
}
