@import "../../app.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      // font-family: Dancing Script, cursive;
      font-size: 3rem;
      font-weight: 600;
      margin-left: 30px;
      @include mobile {
        display: none;
      }
      @include tablet {
        margin-left: 120px;
      }
    }

    .social-media {
      display: flex;
      gap: 4px;

      @include tablet {
        margin-right: 20px;
      }
    }

    a {
      :hover {
        animation: shake 0.5s;
        animation-iteration-count: 1;

        @keyframes shake {
          0% {
            transform: translate(1px, 1px) rotate(0deg);
          }
          10% {
            transform: translate(-1px, -2px) rotate(-1deg);
          }
        }
      }
    }
  }
}
